<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">


<servlet>
	<servlet-name>alfa</servlet-name>
	<servlet-class>it.dstech.formazione.webapplication.ServletManagment</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>alfa</servlet-name>
	<url-pattern>/intro</url-pattern>
</servlet-mapping>


<servlet>
	<servlet-name>beta</servlet-name>
	<servlet-class>it.dstech.formazione.webapplication.ControllerSceltaAzione</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>beta</servlet-name>
	<url-pattern>/scegliAzione</url-pattern>
</servlet-mapping>


<servlet>
	<servlet-name>gamma</servlet-name>
	<servlet-class>it.dstech.formazione.webapplication.ControllerAggiuntaProdotti</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>gamma</servlet-name>
	<url-pattern>/aggiungi</url-pattern>
</servlet-mapping>



<servlet>
	<servlet-name>omega</servlet-name>
	<servlet-class>it.dstech.formazione.webapplication.ControllerVenditaProdotti</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>omega</servlet-name>
	<url-pattern>/vendi</url-pattern>
</servlet-mapping>

</web-app>
	